body {
  background-color: rgb(33, 33, 33);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0 50px rgba(43, 43, 43, 0.5);


}

.cards-container {
  display: flex;
  justify-content: space-between; /* distribuye espacio entre tarjetas */
  gap: 20px; /* espacio opcional entre tarjetas */
  flex-wrap: wrap; /* para que se acomoden en móviles */
  max-width: 1000px;
  margin: 0 auto; /* lo centra horizontalmente */
  margin-top: 2rem;
  
}

.cards-container:hover > :not(:hover) {
  opacity: 0.4; /* reduce la opacidad de las tarjetas no seleccionadas */
  transition: opacity 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-10px); /* eleva la tarjeta al pasar el mouse */
  box-shadow: 0 8px 20px rgba(0,0,0,0.25); /* sombra más pronunciada */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

/* Contenedor general */
.profile-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

/* Dos columnas lado a lado */
.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* centra verticalmente */
  gap: 2rem;
  margin-top: 1.5rem;
}

/* Columna de texto */
.profile-text {
  flex: 1;
  color: #ddd;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

/* Imagen circular */
.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  border: 4px solid #fff;
  background-color: rgb(255, 182, 51);
}

.AboutMe {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #ccc;
  line-height: 1.6;
  text-align: justify;
  max-width: 1000px;
}
.AboutMe h1 {
  color: #ffb633;
  text-align: center;
}
.AboutMe {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);  /* desenfoque de fondo detrás del contenedor */
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  border-top: 4px solid #ffb633;
}
