body {
  background-color: rgb(33, 33, 33);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0 50px rgba(43, 43, 43, 0.5);


}

.cards-container {
  display: flex;
  justify-content: space-between; /* distribuye espacio entre tarjetas */
  gap: 20px; /* espacio opcional entre tarjetas */
  flex-wrap: wrap; /* para que se acomoden en móviles */
  max-width: 1000px;
  margin: 0 auto; /* lo centra horizontalmente */
}

/* Contenedor general */
.profile-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

/* Dos columnas lado a lado */
.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* centra verticalmente */
  gap: 2rem;
  margin-top: 1.5rem;
}

/* Columna de texto */
.profile-text {
  flex: 1;
  color: #ddd;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

/* Imagen circular */
.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  border: 4px solid #fff;
  background-color: rgb(255, 182, 51);
}
