body {
  background-color: rgb(33, 33, 33);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #f54646;
  box-shadow: 0 0 50px rgba(43, 43, 43, 0.5);


}

.cards-container {
  display: flex;
  justify-content: space-between; /* distribuye espacio entre tarjetas */
  gap: 20px; /* espacio opcional entre tarjetas */
  flex-wrap: wrap; /* para que se acomoden en móviles */
  max-width: 1000px;
  margin: 0 auto; /* lo centra horizontalmente */
}
